name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Moon
        uses: illusory0x0/setup-moonbit@v0.1.0
        with:
          version: stable
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"
      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Install dependencies
        run: pnpm install
      - name: Generate CommonMark tests
        run: node scripts/gen-tests.js
      - name: Generate GFM tests
        run:  node scripts/gen-gfm-tests.js
      - name: Check
        run: moon check
      - name: Test all
        run: moon test --target all
      - name: Test Bench
        run: moon bench
